body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    padding: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color:white;
    box-shadow: 0px 0px 1.5px 0px;
}

.nav-title {
    align-self: baseline;
    background:linear-gradient(120deg,red);
    -webkit-background-clip: text;
    color:transparent;
    font-size: 30px;
}

.nav-half-title{
    color:white;
}

.navbar nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


@media(max-width:680px) {
    .navbar nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding:15px;
        box-shadow: 0px 0px 3px 0px;
    }
}

.navbar nav .nav-link {
    color: white;
    text-decoration: none;
}

.navbar nav .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.sign-out-btn {
    padding: 5px;
    color: white;
    background:red;
    font-weight: bold;
    border: 0px solid;
    border-radius: 5px;
    transform:translateY(-5px);
}

.sign-out-btn:hover {
    background:rgb(199, 10, 10);
}